<ol class="page-breadcrumb">
  <li>
    <mp-link title="Start" url="{{page-publicPath}}/">Start</mp-link>
  </li>
  <li class="active">School Ontology</li>
</ol>

<div class="page">
  <div class="page__header-navtabs">
    <div class="page__header-body p-4 bg-light border-bottom">
      <div class="row align-items-center">
        <div class="col-md-8">
           <h1 class="display-4 text-primary"><i class="fa fa-graduation-cap"></i> School Ontology</h1>
           <p class="lead text-muted">Manage your school data, students, and curriculum efficiently.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="page__body container-fluid mt-4">
    
    <div class="row">
      
      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm border-left-primary">
          <div class="card-body text-center p-5">
            <div class="mb-3">
              <i class="fa fa-plus-circle fa-4x text-success"></i>
            </div>
            <h3 class="card-title">Create Data</h3>
            <p class="card-text text-muted">Add new records to the ontology.</p>
            
            <mp-link class="btn btn-success btn-lg" url="http://localhost:10214/resource/?uri=http%3A%2F%2Flocalhost%3A10214%2Fresource%2F%3Furi%3Dhttp%3A%2F%2Fexample.org%2FMySchoolApp/create">
               <i class="fa fa-plus"></i> Go to Create
            </mp-link>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm border-left-info">
          <div class="card-body text-center p-5">
            <div class="mb-3">
              <i class="fa fa-search fa-4x text-info"></i>
            </div>
            <h3 class="card-title">Search Data</h3>
            <p class="card-text text-muted">Find existing records and generate reports.</p>
            
            <mp-link class="btn btn-info btn-lg text-white" url="http://localhost:10214/resource/?uri=http%3A%2F%2Flocalhost%3A10214%2Fresource%2F%3Furi%3Dhttp%3A%2F%2Fexample.org%2FMySchoolApp/search">
               <i class="fa fa-search"></i> Go to Search
            </mp-link>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>